<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Invoiceo</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/angular-material/1.1.3/angular-material.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  </head>
  <body ng-app="invoiceoApp" ng-cloak>
    <div id="sideNavContainer" ng-controller="appController as app" flex layout="row" ng-cloak>
      <md-sidenav md-component-id="left" md-is-locked-open="$mdMedia('gt-sm')" class="md-sidenav-left">
        <md-toolbar class="md-primary">
          <div class="md-toolbar-tools">
            <h2 flex md-truncate>Invoiceo</h2>
          </div>
        </md-toolbar>

        <md-content flex class="sidebar">
          <md-menu-item flex layout="row">
            <md-button ng-href="#!home">
              <md-icon>&#xE88A;</md-icon>
              <span flex md-menu-align-target>Home</span>
            </md-button>
          </md-menu-item>
          <md-divider></md-divider>
          <md-menu-item flex layout="row">
            <md-button ng-href="#!dashboard">
              <md-icon>&#xE871;</md-icon>
              <span flex md-menu-align-target>Dashboard</span>
            </md-button>
          </md-menu-item>
          <md-divider></md-divider>
          <md-menu-item flex layout="row">
            <md-button ng-href="#!invoices">
              <md-icon>&#xE8CC;</md-icon>
              <span flex md-menu-align-target>Invoices</span>
            </md-button>
          </md-menu-item>
          <md-divider></md-divider>
        </md-content>
      </md-sidenav>

      <md-content layout-fill>
        <md-toolbar class="md-hue-2">
          <div class="md-toolbar-tools">
            <!--<md-button hide-gt-md ng-click="openLeftMenu()" aria-label="Menu" class="md-icon-button">
              <md-icon>&#xE5D2;</md-icon>
            </md-button>-->

            <md-button ng-show="appSettings.prev" ng-href="{{ appSettings.prev }}" aria-label="Back" class="md-icon-button">
              <md-icon>&#xE5C4;</md-icon>
            </md-button>

            <h2 flex md-truncate>{{ appSettings.title }}</h2>

            <md-button class="md-icon-button" aria-label="Favorite" ng-click="myFavorite = !myFavorite">
              <md-icon ng-show="myFavorite" style="color: greenyellow;">&#xE87D;</md-icon>
              <md-icon ng-hide="myFavorite" style="color: greenyellow;">&#xE87E;</md-icon>
            </md-button>

            <!--<md-button class="md-icon-button" aria-label="More">
              <md-icon>&#xE5D4;</md-icon>
            </md-button>-->
            <md-button hide-gt-sm ng-click="openLeftMenu()" aria-label="Menu" class="md-icon-button">
              <md-icon>&#xE5D2;</md-icon>
            </md-button>
          </div>
        </md-toolbar>

        <!--<md-button ng-click="openRightMenu()">Open Right Menu</md-button>-->

        <div ui-view></div>
      </md-content>

      <!--<md-sidenav md-component-id="right" class="md-sidenav-right">
        <md-button>Hello</md-button>
      </md-sidenav>-->
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.2/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.2/angular-animate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.2/angular-aria.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.2/angular-resource.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.2/angular-messages.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.4.2/angular-ui-router.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-material/1.1.3/angular-material.min.js"></script>

    <script src="./app/controllers/sales.js"></script>
    <script src="./app/controllers/core.js"></script>
    <script src="./app/invoiceo-app.js"></script>
  </body>
</html>
